html, body {
  height: 100px;
}
.navbar-list-styles {
  margin-left: auto;
}
.padding-right-10 {
  padding-right: 10px;
}
.nav-item-style {
  font-weight: bold;
}
.nav-item-style:hover {
  color: #000000 !important;
}
.nav-btn-style {
  font-weight: bold;
}
.active-style {
  color: #007bff !important;
}
.active-style:hover {
  color: #007bff !important;
}
.color-blue {
  color: #007bff !important;
}
.margin-top {
  padding-top: 70px;
}
.contact-subj-line {
  margin: 0 0 25px;
  font-size: 18px;
}
textarea.form-control {
  height: 120px;
}
.social-media-list {
  padding: 0 0 0 0;
}
.social-media-list li {
  display: inline;
}
.social-media-list-item {
  margin-bottom: 14px;
  margin-left: 4px;
  margin-right: 4px;
}
.btn-facebook {
  color: #ffffff;
  width: 150px;
  background-color: #3b5999;
}
.facebook-hover, .btn-facebook:hover .facebook-not-hover {
  display: none;
}
.btn-facebook:hover .facebook-hover {
  display: inline;
}
.btn-twitter {
  color: #ffffff;
  width: 150px;
  background-color: #55acee;
}
.twitter-hover, .btn-twitter:hover .twitter-not-hover {
  display: none;
}
.btn-twitter:hover .twitter-hover {
  display: inline;
}
.btn-youtube {
  color: #ffffff;
  width: 150px;
  background-color: #cd201f;
}
.youtube-hover, .btn-youtube:hover .youtube-not-hover {
  display: none;
}
.btn-youtube:hover .youtube-hover {
  display: inline;
}
.btn-instagram {
  color: #ffffff;
  width: 150px;
  background-color: #e4405f;
}
.instagram-hover, .btn-instagram:hover .instagram-not-hover {
  display: none;
}
.btn-instagram:hover .instagram-hover {
  display: inline;
}
.left-align {
  text-align: left;
}
.display-height {
  height: 10px;
}
.footer {
  height: 200px;
  background-color: #f8f9fa;
}
.nav-bg-color {
  background-color: #f8f9fa;
}
.nav-item-newspaper {
  color: rgba(0,0,0,0.5);
  font-weight: bold;
}
.nav-item-youtube {
  color: rgba(0,0,0,0.5);
  font-weight: bold;
}
.nav-item-facebook {
  color: rgba(0,0,0,0.5);
  font-weight: bold;
}
.nav-item-instagram {
  color: rgba(0,0,0,0.5);
  font-weight: bold;
}
.nav-item-twitter {
  color: rgba(0,0,0,0.5);
  font-weight: bold;
}
.nav-item-newspaper:hover {
  background-color: #000000;
  color: #ffffff;
}
.nav-item-youtube:hover {
  background-color: #cd201f;
  color: #ffffff;
}
.nav-item-facebook:hover {
  background-color: #3b5999;
  color: #ffffff;
}
.nav-item-instagram:hover {
  background-color: #e4405f;
  color: #ffffff;
}
.nav-item-twitter:hover {
  background-color: #55acee;
  color: #ffffff;
}
.dsk-display {
  display: none;
}
.mb-display {
  display: block;
}
.font-bold-newspaper {
  font-weight: bold;
  color: #000000;
}
.font-bold-youtube {
  font-weight: bold;
  color: #cd201f;
}
.font-bold-facebook {
  font-weight: bold;
  color: #3b5999;
}
.font-bold-instagram {
  font-weight: bold;
  color: #e4405f;
}
.font-bold-twitter {
  font-weight: bold;
  color: #55acee;
}
.newspaper-icon-color {
  color: #000000;
}
.youtube-icon-color {
  color: #cd201f;
}
.facebook-icon-color {
  color: #3b5999;
}
.instagram-icon-color {
  color: #e4405f;
}
.twitter-icon-color {
  color: #55acee;
}
@media (min-width: 768px) {
  .margin-top {
    padding-top: 72px;
  }
  .contact-margin-left {
    margin-left: 90px;
  }
  .contact-margin-right {
    margin-right: 30px;
  }
  .contact-margin-top {
    margin-top: 60px;
  }
  .social-media-list li {
    display: inline;
  }
  .divider {
    display: none;
  }
  .social-media-list-item {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .display-height {
    height: 15px;
  }
  .footer-padding-top {
    margin-top: 8px;
  }
  .dsk-display {
    display: block;
  }
  .mb-display {
    display: none;
  }
}
