.navbar-list-styles {
  margin-left: auto;
}
.padding-right-10 {
  padding-right: 10px;
}
.nav-item-style {
  font-weight: bold;
}
.nav-item-style:hover {
  color: #000000 !important;
}
.nav-btn-style {
  font-weight: bold;
}
.active-style {
  color: #007bff !important;
}
.active-style:hover {
  color: #007bff !important;
}
.color-blue {
  color: #007bff !important;
}
.margin-top {
  padding-top: 70px;
}
.contact-subj-line {
  margin: 0 0 25px;
  font-size: 18px;
}
textarea.form-control {
  height: 120px;
}
.social-media-list {
  padding: 0 0 0 0;
}
.social-media-list li {
  display: inline;
}
.social-media-list-item {
  margin-bottom: 14px;
  margin-left: 4px;
  margin-right: 4px;
}
.btn-facebook {
  color: #ffffff;
  width: 150px;
  background-color: #3b5999;
}
.facebook-hover, .btn-facebook:hover .facebook-not-hover {
  display: none;
}
.btn-facebook:hover .facebook-hover {
  display: inline;
}
.btn-twitter {
  color: #ffffff;
  width: 150px;
  background-color: #55acee;
}
.twitter-hover, .btn-twitter:hover .twitter-not-hover {
  display: none;
}
.btn-twitter:hover .twitter-hover {
  display: inline;
}
.btn-youtube {
  color: #ffffff;
  width: 150px;
  background-color: #cd201f;
}
.youtube-hover, .btn-youtube:hover .youtube-not-hover {
  display: none;
}
.btn-youtube:hover .youtube-hover {
  display: inline;
}
.btn-instagram {
  color: #ffffff;
  width: 150px;
  background-color: #e4405f;
}
.instagram-hover, .btn-instagram:hover .instagram-not-hover {
  display: none;
}
.btn-instagram:hover .instagram-hover {
  display: inline;
}
.btn-facebook:hover {
  background-color: #808080;
}
.btn-twitter:hover {
  background-color: #808080;
}
.btn-youtube:hover {
  background-color: #808080;
}
.btn-instagram:hover {
  background-color: #808080;
}
.left-align {
  text-align: left;
}
.footer {
  height: 200px;
  background-color: #f8f9fa;
}
@media (min-width: 768px) {
  .margin-top {
    padding-top: 72px;
  }
  .contact-margin-left {
    margin-left: 90px;
  }
  .contact-margin-right {
    margin-right: 30px;
  }
  .contact-margin-top {
    margin-top: 60px;
  }
  .social-media-list li {
    display: inline;
  }
  .divider {
    display: none;
  }
  .social-media-list-item {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .footer-padding-top {
    margin-top: 8px;
  }
}
